  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
  }

  .card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    padding-left: 50px;
    padding-right: 60px;
    width: 100%;
    max-width: 500px;
  }

  .view-options {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }

  .view-option {
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    flex: 1;
    margin: 0 10px;
  }

  .view-option.selected {
    border-color: #007bff;
    background-color: #e7f3ff;
  }

  .icon {
    font-size: 24px;
    margin-top: 15px;
  }

  .permission-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }

  .permission-option {
    border: 1px solid #dcdcdc;
    display: flex;
    /* justify-content: space-evenly; */
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
    text-align: left;
    padding-left: 20px;
  }

  .permission-option.selected {
    border-color: #007bff;
    background-color: #e7f3ff;
  }

  .icon {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .back-button {
    background: transparent;
    border: none;
    /* color: #007bff; */
    cursor: pointer;
    font-size: 16px;
  }

  .next-button {
    background: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
  }

  .set-text {
    margin-left: 8px;
  }

  @media (max-width: 480px) {
    .permission-option {
      padding: 8px 10px;
    }

    .buttons {
      flex-direction: column;
    }

    .back-button,
    .next-button {
      margin: 5px 0;
    }
  }